<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css">
    <title>Dispatch</title>
    
</head>

<body>
    <!-- Marketing messaging and featurettes==================================================-->
    <div class="container">
        <div class="row featurette">
            <div class="col-md-12">
                <h1 class="featurette-heading"> Dispatch Software </h1>
                <br>
                <p>The cutthroat competition is going on and it demands to get connected with digital consumers using passenger mobile software app introduced specifically to match your business needs. Take your taxi booking business to the next level with this highly advanced and modern booking software including </p>
                <ul>
                    <li>Reservation </li>
                    <li>Scheduling </li>
                    <li>Dispatch  and</li>
                    <li>Payment gateway</li>
                </ul>
                <p>Communicating with drivers and tracking ride progress with well-designed mobile software will become quite easy. The motto of behind developing GPS cab dispatch and management solutions is delivering better and satisfied customer services and streamline operation whether it is booking the cab, invoice or managing payments on the go. </p>
                <h2>Dispatch</h2>
                <p>The cutthroat competition is going on and it demands to get connected with digital consumers using passenger mobile software app introduced specifically to match your business needs. Take your taxi booking business to the next level with this highly advanced and modern booking software including Reservation Scheduling Dispatch and Payment gateway Communicating with drivers and tracking ride progress with well-designed mobile software will become quite easy. The motto of behind developing GPS cab dispatch and management solutions is delivering better and satisfied customer services and streamline operation whether it is booking the cab, invoice or managing payments on the go.</p>


                <div id="features-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1>Powerful Features</h1>
                                <h2 class="sub-heading">Divor was designed to improve team collaboration</h2>
                                <p class="sub-heading">Built to help small and large teams with their communication process, Divor also improves management capabilities while enabling its users to focus on objectives.</p>
                            </div>

                          
                                <div class="col-md-12">
                                    <img src="~/img/dispatch.jpg" alt="dispatch" style="width:100%; height: 480px;">
                                </div>
                            

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-xs-12">
                                        <div class="feature-box top">
                                            <span class="icon-telescope features-icons"></span>
                                            <div class="features-text">
                                                <h3>Deadline Estimation</h3>
                                                <p>Divor's algorithms are built to help you achieve projects' objectives while reducing operational costs</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="feature-box">
                                            <span class="icon-hotairballoon features-icons"></span>
                                            <div class="features-text">
                                                <h3>Great Scalability</h3>
                                                <p>Works smoothly even on older generation hardware due to considerable optimization efforts</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="feature-box">
                                            <span class="icon-lock features-icons"></span>
                                            <div class="features-text">
                                                <h3>User Management</h3>
                                                <p>Divor offers the complete range of user management options</p>
                                                <p>Divor offers the complete range of user management options through its efficient reporting</p>
                                                <ol>
                                                    <li>Dirver Statement</li>
                                                    <li>Booking Stats</li>
                                                    <li>Acount Invoice</li>
                                                    <li>Driver Payments</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="col-xs-12">
                                        <div class="feature-box top">
                                            <span class="icon-tools features-icons"></span>
                                            <div class="features-text">
                                                <h3>Controller Driver Communication</h3>
                                                <p>In app communication between controller and driver to manage confirm pick ups</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="feature-box">
                                            <span class="icon-tools-2 features-icons"></span>
                                            <div class="features-text">
                                                <h3>Devices Integration</h3>
                                                <p>Your team members can use Divor mobile app on any smartphone platform without issues</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="feature-box">
                                            <span class="icon-ribbon features-icons"></span>
                                            <div class="features-text">
                                                <h3>Continuous Updates</h3>
                                                <p>Don't worry about future costs, pay once and receive all app updates cloud based at no extra cost</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div> <!--end of features section-->

                <hr class="featurette-divider">
                <div class="row featurette" id="contact">
                    <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto" alt="Kingston Upon Thames Minicab Cars" style="width: 450px; height: 400px;" src="~/img/contactimg.jpg" data-holder-rendered="true">
                    </div>
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Contact Us</h2>
                        <p class="lead">
                            <strong>Address: </strong>JStadium Road Karachi, Pakistan
                        </p>
                        <p class="lead"><strong>Email: </strong>enqueries@thedivor.com</p>
                        <p class="lead"><strong>Phone No. </strong>02034112096</p>
                        <!-- <p class="lead"><strong>Phone: </strong>00000000000</p> -->
                        <p class="lead"><strong>Opening Hours: </strong>24 /7, Pre booking taken: 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>