<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.s/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css">

    <title>Policy Privacy</title>
  
</head>

<body>

    <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row featurette">
            <div class="col-md-12">
                <h1>Privacy Policy</h1>
                <h2>Definitions:</h2>
                <p><b>1. In the mentioned terms and conditions the subsequent expressions will have the subsequent meaning save wherever the context otherwise needs:</b></p>
                <ul>
                    <li>"Confirmed pick up point" the confirmed place for pickup will be exactly followed by the PHO as mentioned in the particulars.</li>
                    <li>"Confirmed time" the fixed date and time for pickup will be exactly followed by the PHO as mentioned in the particulars. </li>
                    <li>"Booking" the booking services will be applicable only through the official website. You can use the services for booking single trip, return trip or even multiple trips. </li>
                    <li>"PHO" refers to the Private Hire Operator organisation whose booking services are utilised by you. </li>
                    <li>"PHO T&amp;C" terms and conditions related to the PHO along with the other terms followed while booking the trip. </li>
                    <li>"Card" the card that you use in order to pay for this booking service which can be either a credit card or a debit card. </li>
                    <li>"Amount" direct mode of payment that you prefer paying for the driver or the PHO. </li>
                    <li>"Card Costs" are the additional charges that are applicable when you use a card to pay for the service. </li>
                    <li>"Particulars" the necessary information that you have to provide regarding your booking services that include the date and time of pick up, address details and other personal information. </li>
                </ul>
                <h3>Information.</h3>
                <ul>
                    <li>"Charges" the amount that you pay for your trip. </li>
                    <li>"Luggage" the luggage that is accepted to be carried in the minicab as per the bookings made through the website. </li>
                    <li>"Trip" includes your journey right from pick up till drop off destinations accepted by you. </li>
                    <li>"Licensing Authority" refers to license given by the higher authorities to the minicab companies. This is to ensure that the taxies are licensed to travel within the city. </li>
                    <li>"Special requirements" if there are any special requirements such as the gender of the driver, additional facilities or anything else. </li>
                    <li>"Passenger" people who use the booking services and travel via minicab utilising the services through the website. </li>
                    <li>"Personal information" your personal details such as mobile number, electronic email address and card information. </li>
                    <li>"Quote" fixed charges that you received once after booking your services through the website. </li>
                    <li>"Terms" accepted terms and conditions by both the "Divor" and the customer</li>
                    <li>"Website" a platform where you can book and make use of the services where the mobile portal is www."Divor".org and "Divor" can be accessed from your mobile applications. </li>
                    <li>"You" the person who utilises all these services by providing information. </li>
                    <li>"Minicab" a means of public transport utilised by you to reach the destination where you are supposed to book in advance and well affiliated with the licensing authority. </li>
                    <li>The section headings and the other headings are meant to provide comfort and they do not have any impact on the development of these Terms. </li>
                </ul>
                <h3>Use of website</h3>
                <ul>
                    <li>While you book your trip through this website you are solely responsible to provide accurate information and the company is not responsible if you provide fake information.</li>
                    <li>"Divor" is just an unfolded booking company for PHO, which is not at all an operator. Despite the provisions of clause 3.6, the agreement regarding the transport service exists between you and the PHO only. In getting associated with the trip you are eligible to select more than a single PHO. After which you can directly deal with the PHO that you have selected while booking the trip. </li>
                    <li>You should legally prove the "Divor" that you are about 18 years and are eligible to utilise the booking services. </li>
                    <li>"Divor" shall not take any responsibility to fulfil your desire and reserves the right to refuse your bookings. These are applicable only for cancellations that you have made and a refund will be made only if you can show them proof of payment. </li>
                    <li>According to the "Divor" Privacy Policy, the information that you provide via website shall not be disclosed to the third party. But the data that you provide will be used by the website, except the personal information that you have provided. </li>
                    <li>As soon as you visit the "Divor" website you will be generated with an automatic message. These cookies are simply used to monitor your progress on the website and also to know your interests in order to make your next visit more interesting. Moreover, the company promises that the cookies will not be used to find your identification and the "Divor" will not consider it except for the website. There is even a better option where you can disable cookies by changing the settings of your device, however, doing this will not provide complete access to this website. If the law or law enforcement agency or government authority asks to disclose your personal information then the "Divor" will go as per the law and its procedures. </li>
                    <li>You can also make use of an option where the "Divor" will be never able to send you any information related to the services that you utilise. For this,  </li>
                </ul>
                <h3>Booking</h3>
                <ul>
                    <li>When you enter the "Divor" website to book your trip, then the company will provide you with the list of all the Private Hire Operators available at that point in time. This is mentioned in the form of quotes so you are supposed to select from the mentioned quotes only.</li>
                    <li>While booking a trip you have to provide correct information. If the "Divor" finds anything malicious then you will not be allowed to book a cab. Until and unless you get a confirmation message you cannot confirm whether your booking has been accepted or not. </li>
                    <li>Whatever booking you make they are concerned to the  PHO Terms &amp; Conditions and in case if there is any dispute taking place between the PHO Terms &amp; Conditions and the provisions of this concurrency, then the provision allotted in this concurrency will be replaced with the  PHO Terms &amp; Conditions. </li>
                    <li>You are responsible in cases where the PHO feels like implementing PHO Terms &amp; Conditions on you. </li>
                    <li>It is not possible for the "Divor" to fulfil your special needs like providing PHO to fulfil special requirements and in such cases, this website will not be helpful to you. Alternatively, you can try for some other means of transport that can satisfy your special requirements. </li>
                    <li>The "Divor" has some rights to check the typographical errors regarding any information that is available on this website that also includes errors in price listing. When these issues come to your notice then you have full authority to withdraw your offer and you are also refunded (if any) with the amount that you have already paid for the booking service. </li>
                    <li>You should be fully acknowledged that the "Divor" is just a mediator providing you with the PHO and the "Divor" will accept the complaints regarding the services of the PHO. In case if there are any legal solutions then the "Divor" will directly take action but not the PHO. </li>
                    <li>The "Divor" is responsible for collecting the amount that you would pay for booking that you opt to be prepaid by the card. Along with that, all the settlements regarding the card cost will also be finalised. It is essential to pay money in advance because the PHO will be booked as PHO booking agent. </li>
                    <li>Once you accept the specifications of the bookings where the PHO observes that it is apt, and then the PHO will notify the company to allow the contract, thereby providing services between you and the PHO by other means making sure that the services are fully utilised by the website only. </li>
                </ul>
                <h3>Payment</h3>
                <ul>
                    <li>When you choose an option to "Pay by Card" then you are liable to complete the payment while booking the service. On the other hand, choosing "Pay by Cash" option will facilitate wherein you can directly pay the amount to the driver itself.</li>
                    <li>As soon as you receive a confirmation message on the screen you are not allowed to cancel or make any changes in it as per the clause 7 of the terms mentioned here. </li>
                    <li>If in case you choose an option to "Pay by Card" and if the card issuer rejects your card for any reason, then the "Divor" will not proceed with the bookings. </li>
                    <li>As soon as you make your payment then the "Divor" will provide you receipt to the email address that you have provided. This is to confirm that the payment has been successfully done and it is also included with a link that helps in redeeming a VAT receipt for "Divor" charges. In such cases, you have to directly consult the PHO to obtain the VAT receipt for the charges applicable. </li>
                    <li>Your additional requirements like a seat for children will not be fulfilled by the payment that you have done. And, if you fail to mention details regarding your luggage and request for a large cab, then you will have to pay a little bit extra that needs to be paid directly to the driver. However, if you would like to give a tip to the driver then it is up to you. </li>
                    <li>If you wish to change your route other than what you have mentioned on the website then you need to pay extra money directly to the PHO. </li>
                    <li>In order to make it very clear all the quotes that are given by the "Divor" are included with VAT tax which is fixed charges. </li>
                    <li>For each booking, made for a single person you can use only one promotional code or any other discount offers apply for the bookings. And it’s the same case for any contest implemented by the Divor. On the other hand, if your request for two or more than two offers the "Divor" will take into consideration and act by applying the higher rated offers. </li>
                </ul>
                <h3>Insurance</h3>
                <ul><li>Either "Divor" or PHO’s are answerable to you, or insurance related to an issue, causing any destruction or damage to your belongings during the trip or you are only responsible to take up insurance while considering damage or loss.</li></ul>
                <h3>Cancelling of booking and refunds</h3>
                <ul>
                    <li>You will have full authority to implement cancellation of booking made via the website.</li>
                </ul>
                <ul>
                    <li>When you make a decision to cancel your booking then the first and the foremost thing that you have to do is to submit a cancellation request to the "Divor". The cancellation letter should be submitted by reaching contact us page, quoting the booking reference, considering the process provided by the website.</li>
                    <li>When you decide to make a cancellation of the booking for the cabs that carry 8 or less than 8 members, as per the Clause 7.1 mentioned here, more than 25 minutes (until and unless mentioned on the verification page as well as the booking verification email) before the specified time then your payment will be refunded completely if you have chosen a payment via card this is excluded with any card costs. Suppose the cancellation is not more than 25 minutes for the cab which carries 8 or less than 8 members (until and unless mentioned on the verification page as well as the booking verification email) before the specified time you will not be refunded even if you pay the fee via card, and if you are supposed to pay by cash then you will not be allowed to utilise the "Divor" anytime in the future. </li>
                    <li>When you decide to make a cancellation of booking for the Cabs that carries 9 or less than 9 members as per the Clause 7.1 mentioned here, until one week (until and unless mentioned on the verification page as well as the booking verification email) before the specified time then your payment will be refunded completely if you have chosen a payment via card this is excluded with any card costs. If suppose the cancellation below one week for the cab which carries 9 or less than 9 members (until and unless mentioned on the verification page as well as the booking verification email) before the specified time you will not be refunded even if you pay the fee via card. </li>
                    <li>If in case the PHO fails to reach the confirmed pickup point within 15 minutes from the confirmed time or less than 30 minutes if the pickup point is far away like airport and if the PHO for the trip has not been fully utilised by you then you will be fully refunded which also includes card cost in it. Alternatively, if you have made your payment through the card, then you have to take further decisions. Whatever it is completely your responsibility, whether to continue or drop the booking, once the PHO reaches the pickup point after the confirmed time then you will not be refunded. </li>
                    <li>If in case PHO cannot find you in confirming pickup point within 15 minutes of the confirmed time, then the PHO is liable to cancel your booking. Furthermore, you will not be refunded including card cost which you have already paid. On the other hand, if the PHO waits for more than 15 minutes or more than the confirmed time, then you have to pay an extra amount as waiting charges for parking charges where you have to directly pay the extra charges to the PHO itself. </li>
                    <li>For advance bookings, any refund made due to cancellation or any complaints will be implemented directly to the card that you have used to make your payment and will approximately take 7 business days which implies working days that is from Monday to Friday. </li>
                </ul>
                <h3>Warranty and limitation of liability</h3>
                <ul>
                    <li>"Divor" has been validated by the PHO under the circumstances making it clear that the license has been approved by the licensing authority whatsoever "Divor" do not have any responsibility for confirmation of such validates and if in case you have any queries then you can feel free to get in touch with the PHO based on your own confirmation.</li>
                    <li>"Divor" is not answerable in cases such as if there is any delay in the pickup or drop off timings or if there are any circumstances where PHO fails to completely reach the destination or if the PHO cannot fulfil the services which are already accepted by them. </li>
                    <li>"Divor" is not answerable for any liabilities for any such indirect damages or consequent damage or damage of revenue or anything agonised by you due to the failure by PHO or else if it is related to the terms or if you assumed that you have any claim with respect to the failure by PHO then you can directly claim such circumstances directly. </li>
                    <li>"Divor" considers all the liabilities with respect to their terms and if in case there are any other issues (included with the claims that are made in the contract) that are limited to £500. </li>
                    <li>
                        The issues are explicitly included in these terms all guaranteed, conditions or terms that are included in the statute or common law and are implemented according to the law.
                    </li>
                    <li>There is nothing to consider in this clause that can be excluded, you can also take into consideration of the consumer legislation are also bound the PHO's liability in cases like death or injuries due to negligence. </li>
                    <li>"Divor" provides the estimated travelling timings and the time of arrival on its official website are considered only to be taken as expressive which are not considered in cases like a traffic jam, weather conditions and the route selected by the PHO. However, you are completely liable to arrange the confirmed time so that you can reach the destination on time so that you there will not be any chance to miss your train, flight or an appointment or anything else. </li>
                    <li>You will receive status updates regarding your bookings that will be sent by the "Divor" via Email, text message, however, the "Divor" will not guarantee the delivery updates of the email or text message and will not have any responsibility regarding the loss of anything caused due to the delay of email or text message. </li>
                    <li>Each and every sub-clause provided here will have a clear explanation of each of them along with other provisions. However, these provisions will be continued without withstanding the termination or any other circumstances that may make affect the terms. </li>
                </ul>
                <h3>Behaviour</h3>
                <ul>
                    <li>PHO has certain rules and regulations that will be followed by them and can also terminate the trip if necessary. These are applicable only if your behaviour is not well and creates any threat to the driver or the vehicle. However, "Divor" or PHO is not at all responsible for any extra charges caused by you.</li>
                    <li>The passengers are strictly not allowed to take alcohol while they are on the trip.</li>
                    <li>PHO can also decline people who were already drunk or influenced by drugs.</li>
                </ul>
                <h3>Limitations and exclusions</h3>
                <ul>
                    <li>PHO is not responsible for undertaking the carriage or delivering:</li>
                    <li>Valuable things like jewellery, money or securities, or property more than that of £50. </li>
                    <li>Goods or products that are hazardous or dangerous or anything that causes harm to the environment or human beings. </li>
                    <li>Anything that may be declared in transit. </li>
                    <li>PHO is not directly or indirectly responsible for any damage as per the clause 10.1 provided here. </li>
                    <li>Without any preconception regarding the provisions of clause 10.1 PHO will not be responsible for the following: </li>
                    <li>Consequent loss (included for either loss or profit) </li>
                    <li>Causing damage or loss of any goods due to the negligence of the PHO or any of its employees. </li>
                    <li>Without any preconception regarding the provisions of clause 10.1 is not directly or indirectly responsible for: </li>
                    <li>Breakage or accident or unfavourable weather conditions. </li>
                    <li>Any act excluding on the part of the passengers. </li>
                    <li>Any non-violence situation which cannot be controlled by the PHO( fire accidents, natural disasters, curfews and a few others) acts of terrorism, military, civil war or anything under the supervision of the government. </li>
                    <li>As per the provision of clauses 10.1 and 11.1 responsible for damage or loss of items, but it is not applicable for death or personal injuries. </li>
                </ul>
                <h3>Disputes</h3>
                <ul>
                    <li>If there are any issues related to the service, then you can directly talk to the PHO which will be resolved within 24 hours of the confirm the time.</li>
                    <li>If in case the dispute has not been settled by the PHO then you can directly get in touch with the "Divor" by visiting contact, </li>
                    <li>If in case the "Divor" cannot settle your disputes than the "Divor" will select the third party upon which the final settlement will be done.</li>
                    <li>Having any disputes with respect to the PHO or "Divor" is not responsible for any damages or loss regarding anything that relates to the disputes.</li>
                </ul>
                <h3>Privacy policy</h3>
                <p>The personal information that you provide while booking the services is always confidential. However, no single information will be given to the third party without prior information to you. "Divor" also implements the privacy policies and makes amendments to the website.</p>
            </div>
        </div>
    </div>
</body>
</html>