<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css">
    <title>WebBooker</title>
</head>

<body>
    <div class="container">
        <div class="row featurette">
            <div class="col-md-12">
                <h1 class="featurette-heading">For Easy Online Booking, our Web Booker Embeds into Your Website</h1>
                <br>
                <p>Our fully integrated, branded, online booking engine is easily adapted to your existing website or as a stand-alone webpage. </p>
                <p>Your customer or client adds their booking details which is automatically entered into your iCabbi dispatch system and dispatched to the relevant driver without any human intervention</p>
               <div id="features-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1>Powerful Features</h1>
                                <h2 class="sub-heading">Divor was designed to improve team collaboration</h2>
                                <p class="sub-heading">Built to help small and large teams with their communication process, Divor also improves management capabilities while enabling its users to focus on objectives.</p>
                            </div>
                            <div class="col-md-4">
                                <div class="col-xs-12">
                                    <div class="feature-box top">
                                        <span class="icon-telescope features-icons"></span>
                                        <div class="features-text">
                                            <h3>Web Booker Key Features</h3>
                                            <ul><li>Fully automated booking and dispatch</li></ul>
                                            <ul><li>Website integration</li></ul>
                                            <ul><li>Account customer login</li></ul>
                                            <ul><li>Email confirmation of the booking</li></ul>
                                            <ul><li>Live ETA and driver details</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="col-xs-12 col-md-4 text-center">
                                <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

                                    <!-- Indicators -->
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="~/img/web.jpg" width="450" height="500" alt="Image slider 1">
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-xs-12">
                                    <div class="feature-box top">
                                        <span class="icon-telescope features-icons"></span>
                                        <div class="features-text">
                                            <h3>Web Booker Key Benefits</h3>
                                            <ul><li>End-to-end automation and efficiency</li></ul>
                                            <ul><li>Customer satisfaction with personal login</li></ul>
                                            <ul><li>Request a free demonstration now to discover why iCabbi is the go-to choice for taxi businesses across the UK.</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of features section -->
                <hr class="featurette-divider">
                <div class="row featurette" id="contact">
                    <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto" alt="Kingston Upon Thames Minicab Cars" style="width: 450px; height: 400px;" src="~/img/contactimg.jpg" data-holder-rendered="true">
                    </div>
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Contact Us</h2>
                        <p class="lead">
                            <strong>Address: </strong>Stadium Road Karachi, Pakistan
                        </p>
                        <p class="lead"><strong>Email: </strong>enqueries@thedivor.com</p>
                        <p class="lead"><strong>Phone No. </strong>02034112096</p>
                        <!-- <p class="lead"><strong>Phone: </strong>00000000000</p> -->
                        <p class="lead"><strong>Opening Hours: </strong>24 /7, Pre booking taken: 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>