        #nv
        {
            position: sticky;
        }
        .atag 
        {
            color: white;
        }

        h1, h2, h3, h4
        {
          color: #347a94;
        }
        
        .form-check-label
        {
            color: #000000;
        }

        #carouselExampleIndicators 
        {
            margin-top: -5px;
        }

        @media screen and (max-width: 600px) and (min-width: 360px) 
        {
            #head 
            {
                font-size:  20px;
            }
            .btn {
                font-size: 10px;
            }
        }